body {
  width: 800px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  background-image: url("/images/weather.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
}
.container {
  width: 700px;
  background-color: rgba(48, 47, 47, 0.795);
  border-radius: 10px;
  margin: 10% auto;
}
fieldset {
  display: block;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0em;
  -webkit-padding-start: 0em;
  -webkit-padding-end: 0em;
  -webkit-padding-after: 0em;
  border: 0px;

  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  min-width: -webkit-min-content;
  padding: 30px;
}
.ghost-input,
p {
  display: block;
  font-weight: 300;
  width: 100%;
  font-size: 25px;
  border: 0px;
  outline: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #4b545f;
  background: #fff;
  font-family: Open Sans, Verdana;
  padding: 10px 15px;
  margin: 30px 0px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.ghost-input:focus {
  border-bottom: 1px solid #ddd;
}
.ghost-button {
  color: #000;
  background-color: skyblue;
  border: 2px solid #ddd;
  padding: 10px 30px;
  width: 100%;
  min-width: 350px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  margin-bottom: 20px;
}
.ghost-button:hover {
  border: 2px solid #515151;
}
p {
  width: 100%;
  color: #e64a19;
  align-items: center;
  text-align: center;
  background-color: black;
  margin: 0;
  border-radius: 10px;
  font-family: "Courier New", Courier, monospace;
}

.container2 {
  display: flex;
  background-color: black;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  border-radius: 10px;
}

img {
  height: 130px;
  width: 130px;
  background-color: black;
}
